/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

body {
    overflow: visible;
    background-color: #202124;
}
  
  /* Preloader */
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
  }
  
  nav ul a,
  nav .brand-logo {
    color: white;
  }
  
  nav ul a:hover {
    color: #43f4fd;
  }
  
  p {
    line-height: 2rem;
  }
  
  .sidenav-trigger {
    color: #43f4fd;
  }
  
  .parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
  
  .parallax-container .section {
    width: 100%;
  }
  
  .icon-block {
    padding: 0 15px;
  }
  
  .my-btn .material-icons {
    vertical-align: middle;
    line-height: inherit;
  }
  
  footer.page-footer {
    margin: 0;
  }
  
  .brand-logo span {
    color: rgb(0, 225, 255)!important;
  }
  
  .links {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
  }
  
  .bio-connect {
    display:grid;
    grid-template-columns: auto 280px;
    grid-gap:20px;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .navbar-ham {
    background-color: #202124;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
  }
  
  .projects-section {
    background: white;
  }
  
  .waves-blue , .footer-copyright a {
    color: #437bfd;
  }
  
  .page-footer {
    font-size: 140%;
    background-color: #202124;
  }
  
  .footer-copyright {
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
  }
  
  .my-btn {
    font-size: 1.6rem;
    display: inline-block;
    vertical-align: middle;
    transition: .3s ease-out;
    border-radius: 50%;
    background-color: transparent;
    color: #343434;
    line-height: 45px;
    width: 45px;
    text-align: center;
  }
  
  .my-btn:hover {
    background-color: #f2f2f2;
    transition: background-color 0.5s ease-out;
  }

  #button_div .shadow
{
 background-color:#B7950B;
 transition: all 0.35s ease;
 border-radius:5px;
}
#button_div .shadow:hover
{
 border: 1px solid #B7950B;
 background-color:white;
 color:#B7950B;
 box-shadow:0px 0px 25px 0px #B7950B;
}
  
  #connect .fab {
    font-size: 1.6rem;
  }
  
  .disabled {
    cursor: no-drop;
  }

.image_off, #home:hover .image_on{
  display:none
}
.image_on, #home:hover .image_off{
  display:block
}

#avatar {
  border-radius: 50%;
  width: auto;
  width: 38%;
  margin-left: 30%;
}
  

  @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
    .bio-connect {
      display: block;
    }
    .bio, #connect {
      margin: 20px 10px;
      padding: 20px;
      background: white;
      border-radius: 10px;
    }
    .bio *, #connect *, .bio p {
      color: #212121!important;
    }
  }
  
  @media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0;
    }
  }