/* Custom Stylesheet */
* {
  margin: 0;
  padding: 0;
}

body {
    overflow: visible;
    background-color: #202124;
}
  
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}

h5 {
  font-weight: bolder;
}

nav  ul  a:hover {
  color: #43f4fd;
}

.sidenav-trigger {
  color: #43f4fd;
}

.parallax-container {
  min-height: 380px;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section,
 .spotify-box {
  width: 100%;
}

.my-btn .material-icons {
  vertical-align: middle;
  line-height: inherit;
}

.brand-logo span {
  color: rgb(0, 225, 255)!important;
}

.links {
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
}

.bio-connect {
  display:grid;
  grid-template-columns: auto 280px;
  grid-gap:20px;
}

.quote {
  color: #f4ed11;
}

.pointer {
  cursor: pointer;
}

.navbar-ham {
  background-color: #202124;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

.projects-section {
  background: white;
}


.page-footer {
  font-size: 140%;
  background-color: rgb(21, 189, 189);
}

.footer-copyright {
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

.copyright {
  margin-left: 2%;
  color: #0d215c;
}

.my-btn {
  font-size: 1.6rem;
  display: inline-block;
  vertical-align: middle;
  transition: .3s ease-out;
  border-radius: 50%;
  background-color: transparent;
  color: #343434;
  line-height: 45px;
  width: 45px;
  text-align: center;
}

.my-btn:hover {
  background-color: #f2f2f2;
  transition: background-color 0.5s ease-out;
}
  
.playlist-link {
  color:rgb(105, 66, 141)
}

#connect .fab {
  font-size: 1.6rem;
}

.disabled {
  cursor: no-drop;
}

#avatar {
  border-radius: 50%;
  width: auto;
  width: 38%;
  margin-left: 30%;
}
  
.link-item {
  color: rgb(39, 112, 58); 
  font-family: 'Courier New', Courier, monospace; 
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  padding: 0.5rem;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .bio-connect {
    display: block;
  }
  .bio, #connect {
    margin: 20px 10px;
    padding: 20px;
    background: white;
    border-radius: 10px;
  }
  .bio *, #connect *, .bio p {
    color: #212121!important;
  }

  .bio-box {
    min-height: 450px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }

  .link-item {
    color: rgb(39, 112, 58);
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bolder;
    font-size: 2rem;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  #avatar {
    border-radius: 50%;
    width: auto;
    width: 38%;
    margin-left: 30%;
    margin-top: 20%;
  }

  .link-item {
    color: rgb(39, 112, 58); 
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bolder;
    font-size: 1rem;
  }
}